<div class="px-4 py-5 my-5 text-center dark">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img
          src="img/kishibe rohan.jpg"
          alt="Kadek Angga"
          class="img-thumbnail rounded-circle"
          width="200px"
        />
        <h1 class="display-4">Kadek Angga</h1>
        <p class="lead">Programmer | Back-End Developer Wanna Be</p>
      </div>
    </div>
  </div>
</div>
