<!-- <div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <h1>Contact App Lite Web Apps</h1>
      <h2>Hallo <%= name %></h2>
    </div>
  </div>
</div> -->

<div class="px-4 py-5 my-5 text-center dark">
  <h1 class="display-5 fw-bold text-body-emphasis">Contact App Lite</h1>
  <div class="col-lg-6 mx-auto">
    <h1>Hello, Welcome <%= name %> !</h1>
    <p class="lead mb-4">
      Contact App Lite is a handy tool for managing your contacts. It helps you
      store and organize all your contact information in one place. You can add
      new contacts, edit existing ones, and easily find the contact you're
      looking for. It's a simple and convenient way to keep track of all your
      important contacts.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" href="/contact" role="button"
        >Get Started</a
      >
      <!-- <button
        type="button"
        class="btn btn-primary btn-lg px-4 gap-3"
        href="/contact"
      >
        Get Started
      </button> -->
    </div>
  </div>
</div>

<!-- <div class="bg-dark text-secondary px-4 py-5 my-5 text-center border rounded-4">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Hello, Welcome <%= name %> !</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        Contact App Lite is a handy tool for managing your contacts. It helps
        you store and organize all your contact information in one place. You
        can add new contacts, edit existing ones, and easily find the contact
        you're looking for. It's a simple and convenient way to keep track of
        all your important contacts.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
        >
          Contacts
        </button>
      </div>
    </div>
  </div>
</div> -->
